<!DOCTYPE html>
<html lang="en">
<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/cart-detail.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>Cart details</title>
</head>
<body>
        {% include 'clients/navigation.html' %}
    <section>
        <h1>cart details</h1>
        <div class="tbl-header">
          <table cellpadding="0" cellspacing="0" border="0">
            <thead>
              <tr>
                <th>Item</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Status</th>
                <th>Change</th>
    
              </tr>
            </thead>
          </table>
        </div>
        <div class="tbl-content">
          <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
                {% for item in items_in_cart %}
              <tr>
                <td><a href="{% url 'about-item' item.item.id %}">{{ item.item.name }} </a></td>
                <td>${{ item.item.price }}</td>
                <td><a href="{% url 'delete-from-cart' item.item.id %}"><h3 style="display: inline; margin-left: 10px; font-weight: 20px;">-</h3></a><p style="display: inline; margin-left: 10px; font-weight: 20px;">{{item.quantity}} </p><a href="{% url 'add-to-cart' item.item.id %}"><h3 style="display: inline; margin-left: 10px; font-weight: 20px;">+</h3></a></td>
                <td>{{ item.status }}</td>
                <td>-0.36%</td>
                
              </tr>
              {% endfor %}
              <tr>
                <td><h3>TOTAL</h3></td>
                <td><h3>${{ sum}}</h3></td>
                <td></td>
                <td></td>
                <td></td>
    
              </tr>
            </tbody>
          </table>
        </div>
      </section>
      
      {% include 'clients/footer.html' %}
</body>
</html>