<!DOCTYPE html>
<html lang="en">
<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/cart-detail.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>Cart details</title>
</head>
<body>
        {% include 'clients/navigation.html' %}
        <div class="cart">
            <i class="fa-solid fa-cart-shopping"><a href="{% url 'cart-details' %}">Cart: {% if your_cart > 0 %} {{ your_cart}} {%else%} 0 {%endif%} </a></i>
        </div>
        <div class="togg">
            <i onclick="menuToggle()" class="fa-solid fa-bars">toggle</i></div>
    </div>
    <section>
        <h1>cart details</h1>
        <div class="tbl-header">
          <table cellpadding="0" cellspacing="0" border="0">
            <thead>
              <tr>
                <th>Item</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Status</th>
                <th>Change</th>
    
              </tr>
            </thead>
          </table>
        </div>
        <div class="tbl-content">
          <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
                {% for item in items_in_cart %}
              <tr>
                <td><a href="{% url 'about-item' item.item.id%}">{{ item.item.name }} </a></td>
                <td>${{ item.item.price }}</td>
                <td><h3><a href="">-</a></h3>{{item.quantity}} <h3><a href="">+</a></h3></td>
                <td>{{ item.status }}</td>
                <td>-0.36%</td>
                
              </tr>
              {% endfor %}
              <tr>
                <td><h2>TOTAL</h2></td>
                <td><h2>{{ sum}}</h2></td>
                <td></td>
                <td></td>
                <td></td>
    
              </tr>
            </tbody>
          </table>
        </div>
      </section>
      
      {% include 'clients/footer.html' %}
</body>
</html>