
<!-- Floating header -->
<div id="nav">
    <header class="header container">
        <div class="logo"></div>
        <!-- Menu on tablets and larger screens -->
        <nav class="top-nav">
            <ul>
                <li><a class="under-line" href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#portfolio">Portfolio</a></li>
                <li><a href="#contacts">Get in touch</a></li>
            </ul>
        </nav>
        <!-- Menu on mobile screens -->
        <div class="mob-nav">
            <span class="fa fa-bars"></span>
      </div>
        <nav>
            <ul class="dropDN-menu">
                <li><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#portfolio">Portfolio</a></li>
                <li><a href="#contacts">Get in touch</a></li>
            </ul>
        </nav>

    </header>
</div>
<!-- Main -->
<main role="main">
    <!-- Banner -->
    <section class="banner container">
        <div class="photo-banner">
            <img src="https://res.cloudinary.com/belodpav/image/upload/v1475403892/freecodecamp/second_project(Profile%20page)/images/img-01.jpg" alt="Pavel Belodurin">
        </div>
        <div class="descr-banner">
            <h1>&lt;Coder<span class="slash">/</span>&gt;</h1>
            <p>Front-End developer who is focused<br>on writting clean, good and<br>
                efficient code. Love HTML5, CSS3,<br>and JavaScript.</p>
            <a href="#portfolio" class="btn">View Portfolio</a>
        </div>
    </section>
    <!-- About -->
    <div class="first-style-sec">
        <section id="about" class="about space-section container">
            <h2>&lt;About<span class="slash">/</span>&gt;</h2>
            <p>Hello! My name is Pavel.I’m a student and Front-End developer from Russia.
                I like researching  different problems about science, IT,
                Psychology, etc.  I really like web development.<br>I am learning Front-End with Free Code Camp community.<br>By day, I study science at the university.<br>By night, I explore different problems.</p>
        </section>
    </div>
    <!-- Portfolio -->
    <section id="portfolio" class="portfolio space-section container">
        <h2>&lt;Portfolio<span class="slash">/</span>&gt;</h2>
        <!-- Tiles box for tablets and larger sreens -->
        <div class="tiles-box">
                <div class="item col-2-3">
                    <a href="https://codepen.io/belodpav/full/yazvrg/" target="_blank">
                        <img class="color" src="https://res.cloudinary.com/belodpav/image/upload/v1475504106/freecodecamp/second_project(Profile%20page)/images-2/img-02.jpg" alt="project1">
                        <img class="color-bw" src="https://res.cloudinary.com/belodpav/image/upload/v1475504106/freecodecamp/second_project(Profile%20page)/images-2/img-02-bw.jpg" alt="project1">
                        <div class="descr">
                            <h3>Portfolio page</h3>
                        </div>
                    </a>
                </div><!--
                --><div class="item col-1-3">
                        <a href="https://codepen.io/belodpav/full/mArpwG/" target="_blank">
                            <img class="color" src="https://res.cloudinary.com/belodpav/image/upload/v1475502197/freecodecamp/second_project(Profile%20page)/images-2/img-03.jpg" alt="project2">
                            <img class="color-bw" src="https://res.cloudinary.com/belodpav/image/upload/v1475403892/freecodecamp/second_project(Profile%20page)/images-2/img-03-bw.jpg" alt="project2">
                        <div class="descr">
                            <h3>Hong Knog card</h3>
                    </div>
                </a>
            </div><!--
            --><div class="item col-1-3">
                    <a href="https://codepen.io/belodpav/full/vXXabO/" target="_blank">
                        <img class="color" src="https://res.cloudinary.com/belodpav/image/upload/v1475403892/freecodecamp/second_project(Profile%20page)/images-2/img-05.jpg" alt="project3">
                        <img class="color-bw" src="https://res.cloudinary.com/belodpav/image/upload/v1475403892/freecodecamp/second_project(Profile%20page)/images-2/img-05-bw.jpg" alt="project3">
                    <div class="descr">
                        <h3>Boat's card</h3>
                    </div>
                </a>
                </div><!--
                --><div class="item col-1-3">
                <a href="https://codepen.io/belodpav/full/zKwKEW/" target="_blank">
                    <img class="color" src="https://res.cloudinary.com/belodpav/image/upload/v1475502737/freecodecamp/second_project(Profile%20page)/images-2/img-04.jpg" alt="project4">
                    <img class="color-bw" src="https://res.cloudinary.com/belodpav/image/upload/v1475403892/freecodecamp/second_project(Profile%20page)/images-2/img-04-bw.jpg" alt="project4">

                    <div class="descr">
                        <h3>Tribute page</h3>
                    </div>
                </a>
                </div><!--
                --><div class="item col-1-3">
                <a href="https://codepen.io/belodpav/full/bZXNGY/" target="_blank">
                    <img class="color" src="https://res.cloudinary.com/belodpav/image/upload/v1475403893/freecodecamp/second_project(Profile%20page)/images-2/img-06.jpg" alt="project5">
                    <img class="color-bw" src="https://res.cloudinary.com/belodpav/image/upload/v1475403891/freecodecamp/second_project(Profile%20page)/images-2/img-06-bw.jpg" alt="project5">
                    <div class="descr">
                        <h3>Sign up form</h3>
                    </div>
                </a>
                </div>
        </div>
        <!-- Projects list for mobile screens -->
        <div class="mob-list-projects">
                <ul>
                    <li class="list-color-1"><a href="https://codepen.io/belodpav/full/yazvrg/" target="_blank"><h3>Portfolio page</h3></a></li>
                    <li class="list-color-2"><a href="https://codepen.io/belodpav/full/zKwKEW/" target="_blank"><h3>Tribute page</h3></a></li>
                    <li class="list-color-3"><a href="https://codepen.io/belodpav/full/mArpwG/" target="_blank"><h3>Hong Kong card</h3></a></li>
                    <li class="list-color-4"><a href="https://codepen.io/belodpav/full/bZXNGY/" target="_blank"><h3>Sign Up form</h3></a></li>
                </ul>
        </div>
        <a href="">View more</a>
    </section>
    <!-- Get in touhc -->
    <div class="first-style-sec">
        <section id="contacts" class="contacts space-section container">
            <h2>&lt;Get in touch<span class="slash">/</span>&gt;</h2>
                <form class="" action="#" method="post">
                    <fieldset>
                        <input type="text" name="user-name" placeholder="Name"><!--
                        --><input type="email" name="user-email" placeholder="Email">
                        <textarea></textarea>
                    </fieldset>
                    <button class="btn">Send</button>
                </form><!--
                --><div class="social-col">
                    <p>Do you have questions?<br>May be suggestions?<br>Just write me.<br>I will reply you.</p>
                    <p><b><span class="slash">Follow</span> me in social media</b></p>
                    <ul>
                        <div class="br-icons"><li><a href="https://twitter.com/belodpav" target="_blank"><span class="icons fa fa-twitter"></span></a></li>
                        <li><a href="https://www.facebook.com/belod.pav" target="_blank"><span class="icons fa fa-facebook"></span></a></li>
                        <li><a href="https://codepen.io/belodpav/" target="_blank"><span class="icons fa fa-codepen"></span></a></li><br class="br-icons"></div>
                        <li><a href="https://vk.com/belodpav" target="_blank"><span class="icons fa fa-vk"></span></a></li>
                        <li><a href="" target="_blank"><span class="icons fa fa-google"></span></a></li>
                        <li><a href="https://github.com/belodpav" target="_blank"><span class="icons fa fa-git"></span></a></li>
                    </ul>
                </div>
        </section>
    </div>
</main>
<!-- Footer -->
<footer>
    <small>Designed by <a href="https://twitter.com/belodpav" target="_blank">Pavel Belodurin</a></small>
</footer>
